<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style_reservation.css">
    <title>Le Ziravène</title>
</head>
<body>

  <div id="app">
    <h1> Réservation </h1>

    <form action="reservation_page.php">
        <label for="fname">Nom </label>
        <input type="text" id="nom" name="nom"><br><br>
        <label for="lname">Prenom </label>
        <input type="text" id="prenom" name="prenom"><br><br>
        <label for="lname">Telephone </label>
        <input type="text" id="num_tel" name="num_tel"><br><br>

        <label for="lname">Mail </label>
        <input type="text" id="mail" name="mail"><br><br>

        <label for="nb_pers">Nombre personnes:</label>
        <select v-model="nombre" id="nombre">
          <option value="" selected disabled hidden>Choisissez</option>
          <option v-for="n in 8" value = n> {{ n }}</option>
        </select>

        <br><br>

        <input type="submit" value="Confirmer">

      </form>

    </div>

      <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
      <script src="main.js" defer></script>
</body>
</html>