<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style_reservation.css">
    <title>Le Ziravène</title>
</head>
<body>

  <div id="app">

    <div id="tete">
      <h1> Réservation </h1>
      <img src="./../../images/Ziravene_logo.jpg" alt="Logo">
    </div>

    <div id="corps">
    <form action="reservation_page.php" method="POST">
        <label for="fname">Nom </label>
        <input type="text" id="nom" name="nom" required><br><br>
        <label for="lname">Prenom </label>
        <input type="text" id="prenom" name="prenom"><br><br>
        <label for="lname">Telephone </label>
        <input type="text" id="num_tel" name="num_tel" required><br><br>

        <label for="lname">Mail </label>
        <input type="text" id="mail" name="mail" required><br><br>

        <label for="lname">Date </label>
        <input type="date" id="date" required  /><br><br>

        <label for="nb_pers">Nombre personnes:</label>
        <select v-model="nombre" id="nombre">
          <option value="" selected disabled hidden>Choisissez</option>
          <option v-for="n in 8" value = n required> {{ n }}</option>
        </select> <br><br>

        <label for="nb_pers">Service </label> <br>
        <input type="radio" id="check1" name="serv" value="midi" />
        <label for="check1">Midi</label>
  
        <input type="radio" id="check2" name="serv" value="soir" />
        <label for="check2">Soir</label>
        <br><br>

        <input type="submit" value="Réserver" id="boutonEnvoi">

      </form>
    </div>

    </div>

      <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
      <script src="main.js" defer></script>
</body>
</html>