header {
    background-color: #864401;
    top:0px;
    left:0px;
    position:absolute;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-family: sans-serif;
}

#lien_header {
    display: flex;
    flex-direction: column;
    margin: 5px;
}

.img_logo {
    width: 130px;
    height: 130px;
    border-radius: 20px;
}

a {
    text-decoration: none;
    color: black;
    font-size: 2rem;
}

h1 {
    font-size: 4rem;
    text-shadow: 1px 1px 2px black ;
}

h2 {
    font-size: 2rem;
    text-shadow: 1px 1px 2px black ;
}

body {
    background-color: #E3CD8B;
    display: flex;
    flex-direction: column;
    margin-top: 200px;
    margin-bottom: 200px;
    font-family: sans-serif;
    color: white;
}

/***********/
/* Matrice */
/***********/

#restaurant {
    background-color: #C18845;
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#mat_table {
    margin-bottom: 20px;
}

#mat_table > tr > td {
    padding: 10px;
    text-align: center;
    border: solid black;
}

.vide {
    background-color: white;
}

.table {
    background-color: blue;
}

.chaise {
    background-color: red;
}

/*C18845*/
#barre {
    background-color: #864401;
    padding: 4px;
    border-radius: 20px;
    text-shadow: 1px 1px 2px black ;
}

/***************/
/* Reservation */
/***************/

#date {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#table_res {
    background-color: #C18845;
    border-radius: 20px;
    margin: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#ajout_resa {
    background-color: #864401;
    border-style: solid;
    border-color: black;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
    font-size: 1.6rem;
}

#t_res > tbody > tr > td {
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}

#here {
    opacity : 0.5;
    color : white;
}